# Common requirements used across local dev and production
Flask==1.1.1
Flask-Cors==3.0.9
gevent==1.4.0
gunicorn==20.0.4
transformers==4.26.1
huggingsound==0.1.6
jiwer==2.5.1
metaphone==0.6
PyMySQL
python-dotenv

